.calc{
    width: 300px;
    height: 320px;
    background-color: black;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
}
.result{
    width: 90%;
    height: 50px;
    font-size: 28px;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    border: 2px solid red;
}
.key{
    margin: 11px;
    width: 50px;
    border-radius:5px;
    font-size: 1.5em;
}
#plus{
    height: 100px;
    float: right;
    
}